node_modules/
.expo/
dist/
web-build/
.git/
android/.expo/
android/build/
android/app/build/
android/.gradle/
android/.cxx/
android/.kotlin/
android/.idea/
android/app/build/generated/
android/app/build/intermediates/
*.jks
*.aab
*.apk
expo-dev*.log
expo-tunnel*.log
eas-build.log
npm-debug.*
yarn-debug.*
yarn-error.*
ios/
playstore-screenshots/
